---
---

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #f39c12;
$header-bg-color-secondary: #e67e22;

// Text
$section-headings-color: #D35400;
$body-text-color: #606c71 !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #819198 !default;

@import "{{ site.theme }}";
